:root{
    --primary-text-color:#212121;
    --paragraph-color: #757575;
    --white-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --primary-background-color: #FFFFFF;
    --additional-background-color: #F5F4FA;
    --footer-color: #2F303A;
}
body{
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
/* Головна сторінка */
/* Загальні до головної сторінки*/
.link {
    text-decoration: none;
}
.list{
    list-style: none;
}
/* Логотип header*/
.header-logo{
    color: var(--logo-color);
}
.accent-logo{
    color: var(--accent-color);
}
.header-logo, .accent-logo, .footer-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

/* Навігація */
.list-nav .link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.list-nav .link:hover, .list-nav .link:focus{
    color: var(--accent-color);
}
/* Контакти */
.contacts .link{
    color: var(--paragraph-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts .link:hover, .contacts .link:focus{
    color: var(--accent-color);
}
/* Герой */
.hero{
    background-color: var(--footer-color);
}
.hero-title{
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-batton{
    color: var(--white-text-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
/* Секції */
.section .section-text{
    color: var(--paragraph-color);
}
.section-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.section-text{
    font-size: 14px;
    line-height: 1.71;
}
/* Роботи */
.works >.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
/* Команда */
.team{
    background-color: var(--additional-background-color);
}
.team > .section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.team .member{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.team .section-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}
/* Підвал */
.footer{
    background-color: var(--footer-color);
}
.footer-logo {
    color: var(--white-text-color);

}
.footer .link{
    color: var(--white-text-color);
    font-style: normal;
}
.footer-list .link{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71 
}
.footer-list .link:hover, .footer-list .link:focus {
    color: var(--accent-color);
}
/* Портфоліо */

.list-portfolio{
    list-style: none;
}
.button{
    background-color: var(--additional-background-color);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    cursor: pointer;
}

.button:hover{
    background-color: var(--accent-color);
    color: var(--white-text-color);
}
.list-portfolio .link{
    text-decoration: none;
}
.list-portfolio .title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}
.list-portfolio .text{
    color: var(--paragraph-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
